@page
@model ETBD.Pages.MyMeals.CreateModel
@{
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Meal.Name" class="control-label"></label>
        <input asp-for="Meal.Name" class="form-control" />
        <span asp-validation-for="Meal.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Meal.Date" class="control-label"></label>
        <input asp-for="Meal.Date" class="form-control" type="date"/>
        <span asp-validation-for="Meal.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
