@page
@model ETBD.Pages.MyDashboard.IndexModel
@{
}

<div class="row">
    <div class="col-4">
        <a asp-page="./allUsers" class="btn btn-primary">All Users</a>
    </div>
    <div class="col-4">
        <a asp-page="./top10Foods" class="btn btn-danger">Top 10 Foods</a>
    </div>
    <div class="col-4">
        <a asp-page="./populateDatabase" class="btn btn-warning">Populate Database</a>
    </div>
</div>
