@page
@model ETBD.Pages.MyDashboard.PopulateDatabaseModel
@{
}
<h1>Populate Database</h1>
<p>This button will populate the database with actions, categories and foods that are represented in Eat To Beat Disease Book</p>
<form method="post">
    <button type="submit" class="btn btn-primary">Populate Database</button>
</form>
