@page
@model ETBD.Pages.MyMeals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Meal</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meal.Id" />
            <div class="form-group">
                <label asp-for="Meal.Name" class="control-label"></label>
                <input asp-for="Meal.Name" class="form-control" />
                <span asp-validation-for="Meal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.Date" class="control-label"></label>
                <input asp-for="Meal.Date" class="form-control" />
                <span asp-validation-for="Meal.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add new food" class="btn btn-success" />
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var foodMeal in Model.FoodMeals)
        {
            <tr>
                <td>
                    @foodMeal.Food.Name
                </td>
                <td>
                    @foodMeal.PortionQuantity
                </td>
                <td>
                    @foodMeal.PortionUnit
                </td>
                <td>
                    <a asp-page="./DeleteFoodFromMeal" asp-route-id="@foodMeal.Id"  class="btn btn-danger">Delete Food</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br />
<div>
    <a asp-page="./Index" class="btn btn-secondary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
