@page
@model ETBD.Pages.MyProfile.EditModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h1>@Model.UserId</h1>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyProfile.Id" />
            <div class="form-group">
                <label asp-for="MyProfile.FirstName" class="control-label"></label>
                <input asp-for="MyProfile.FirstName" class="form-control"></input>
                <span asp-validation-for="MyProfile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyProfile.LastName" class="control-label"></label>
                <input asp-for="MyProfile.LastName" class="form-control" asp-items="ViewBag.CategoryId"></input>
                <span asp-validation-for="MyProfile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyProfile.BirthDate" class="control-label"></label>
                <input type="date" asp-for="MyProfile.BirthDate" class="form-control" asp-items="ViewBag.CategoryId"></input>
                <span asp-validation-for="MyProfile.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyProfile.Weight" class="control-label"></label>
                <input asp-for="MyProfile.Weight" class="form-control" asp-items="ViewBag.CategoryId"></input>
                <span asp-validation-for="MyProfile.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyProfile.Height" class="control-label"></label>
                <input asp-for="MyProfile.Height" class="form-control" asp-items="ViewBag.CategoryId"></input>
                <span asp-validation-for="MyProfile.Height" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
