@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin-bottom:50px" class="text-center">
    <h1 style="color:red;"class="display-4"><b>Welcome to Eat to Beat Disease App</b></h1>
    <hr />
    <img src="https://www.bookspot.nl/images/active/carrousel/fullsize/9781785042157_front.jpg" alt="eattobeatdiseasebook">
</div>
<div class="text-left">
    <p>The nutritional system on which this app is based is based on the famous book “Eat to Beat Disease” by the doctor and scientist
    William Li.</p>
    <p>One of the premises of the book is that there are foods with beneficial characteristics for health and that
    fall into 5 main defense systems, namely: angiogenesis, regeneration, microbiome, DNA protetion, immunity.</p>
    <p>As a way to create good eating habits, the strategy to follow in this app is the 5x5x5 framework,
    for the body to develop its own ability to heal and regenerate itself by consuming food
    healthy belonging to the defense systems listed above.</p>
    <p>This framework consists of including at least 5 foods that support the benefits of the 5
    advocacy groups listed above up to 5 meals a day.</p>
    <hr />
    <p><u><b>Features of this app:</b></u></p>
    <p>
    <ul>
    <li>User can enter meals.</li>
    <li>The user can enter foods in a favorites list and in a blacklist.</li>
    <li>The app suggests foods in order to successfully complete the 5x5x5 framework criteria on the current day.</li>
    <li>User has access to fasting periods over a certain period.</li>
    <li>The user can obtain information about the success of this nutritional scheme over a period.</li>
    </ul>  
    </p>
    <hr />
    <h2 style="color:red;"><i>Join this app now! All you have to do is register and start changing your life right away!</i></h2>
</div>
